.city-list {
  position: absolute;
  left: 20%;
  top: 75px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 384px;
  height: auto;
  background: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
  z-index: 2;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.city-input {
  margin-top: 24px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 332px;
  height: 48px;
  border: 2px solid #abc8ea;
  border-radius: 100px;
}

.city-list input {
  width: 75%;
  font-size: 14px;
  color: #a7a7a7;
}

.clear-input {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  filter: invert(50%);
}
/* .city-list button:hover {
  background-color: #0656b4;
  opacity: 0.9;
  color: #ffffff;
}
 */

#added-cities {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px 0;
  border-bottom: solid #d8d8d8 thin;
}

.added-item {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 15px;
  height: 22px;
  width: auto;
  border-radius: 100px;
  border: solid #d8d8d8 thin;
}

#city-datalist {
  margin: 10px 0;
  height: 200px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

#city-datalist::-webkit-scrollbar {
  width: 8px;
}

#city-datalist::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 5px;
}

.datalist-item {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 100%;
  text-align: start;
  cursor: pointer;
}

.datalist-item p {
  margin-left: 23px;
}

.datalist-item:hover {
  background-color: #f1f1f1;
}

.city-list button {
  width: 100%;
  height: 85px;
  border-top: solid #d8d8d8 thin;
  font-size: 14px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 1150px) {
  .city-list {
    left: 20%;
    top: 150px;
  }
}

@media (max-width: 500px) {
  .city-list {
    left: 10%;
    top: 150px;
  }
}

@media (max-width: 450px) {
  .city-list {
    width: 320px;
  }

  .city-input {
    width: 260px;
  }

  .city-input input {
    font-size: 12px;
  }
}
