.profile {
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 26px;
  padding: 5px 10px;
}

.profile:hover {
  background-color: #f1f1f1;
}

@media (max-width: 1150px) {
  .profile {
    margin: 10px 0;
  }
}
